In [1]:
# 파일 다루기
f = 0
try: # 발생되는 에러에 대하여 예외 에러처리를 해준다
    f = open("LICENSE.txt","rt") # LICENSE라는 텍스트 파일을 읽기모드로 연다
    while True: # 반복문
        r = f.readline() # r은 한줄을 읽는 것
        if not r : # r이 없다면 탈출
            break
        print(r) 
except FileNotFoundError: # 에러가 있을 경우 파일 없음을 출력
    print("파일없음")
finally: # 마지막에
    if(f): f.close() # 파일을 닫고
    print("프로그램 끝") # 프로그램 끝을 출력

파일없음
프로그램 끝

In [5]:
# 파일 쓰기
import random as r

f = 0 
f = open("score.txt","wt") # score파일을 쓰기모드로 연다
for i in range(100): # 100번 실행하는 for문
    one_person = "홍길동" + str(i) + "," + str(r.randrange(0,100)) + "," + str(r.randrange(0, 100)) + "," + str(r.randrange(0,100)) + "\n"
    f.write(one_person) #한 줄씩 쓴다
    print(one_person) # 한 줄씩 출력
f.close() # 파일을 닫는다

홍길동0,25,21,55

홍길동1,7,62,87

홍길동2,65,55,69

홍길동3,61,78,5

홍길동4,86,55,6

홍길동5,32,70,93

홍길동6,10,15,36

홍길동7,97,38,85

홍길동8,24,64,93

홍길동9,23,52,16

홍길동10,0,9,14

홍길동11,50,11,7

홍길동12,38,55,10

홍길동13,21,47,57

홍길동14,54,65,33

홍길동15,86,97,91

홍길동16,23,77,74

홍길동17,32,58,65

홍길동18,94,0,60

홍길동19,52,34,47

홍길동20,60,46,21

홍길동21,79,29,61

홍길동22,58,1,73

홍길동23,72,2,16

홍길동24,77,12,5

홍길동25,58,34,11

홍길동26,9,72,26

홍길동27,2,73,62

홍길동28,88,11,91

홍길동29,67,3,71

홍길동30,49,60,26

홍길동31,86,42,44

홍길동32,47,63,36

홍길동33,38,61,55

홍길동34,23,46,9

홍길동35,78,79,12

홍길동36,2,37,76

홍길동37,76,56,67

홍길동38,66,97,66

홍길동39,9,99,59

홍길동40,93,87,39

홍길동41,43,47,15

홍길동42,43,86,18

홍길동43,24,33,2

홍길동44,55,88,71

홍길동45,25,77,39

홍길동46,19,5,21

홍길동47,30,49,20

홍길동48,13,89,25

홍길동49,87,57,99

홍길동50,99,51,63

홍길동51,11,24,49

홍길동52,56,19,79

홍길동53,19,40,62

홍길동54,59,49,55

홍길동55,84,34,31

홍길동56,40,5,35

홍길동57,88,79,75

홍길동58,32,47,71

홍길동59,22,42,62

홍길동60,30,21,12

홍길동61,9,78,76

홍길동62,29,45,77

홍길동63,11,76,56

홍길동64,86,96,65

홍길동65,57,55,77

홍길동66,74,47,20

홍길동67,75,1,18

홍길동68,9,69,99

홍길동69,0,33,27

홍길동70,59,23,87

홍길동71,3,45,29

홍길동72,71,6,5

홍길동73,61,15,24

홍길동74,10,62,11

홍길동75,8,60,23

홍길동76,66,4,30

홍길동77,11,83,37

홍길동78,14,4,7

홍길동79,30,49,17

홍길동80,1,85,37

홍길동81,55,26,6

홍길동82,32,83,51

홍길동83,50,82,18

홍길동84,52,22,71

홍길동85,55,67,48

홍길동86,48,84,9

홍길동87,1,61,15

홍길동88,30,83,1

홍길동89,5,37,13

홍길동90,64,14,69

홍길동91,83,66,16

홍길동92,82,10,87

홍길동93,4,58,41

홍길동94,87,15,92

홍길동95,75,94,33

홍길동96,65,90,11

홍길동97,64,87,86

홍길동98,85,78,26

홍길동99,6,12,59

In [7]:
# 파일 읽기
f = 0
f = open("score.txt","rt")
while True:
    one_person = f.readline() #한 줄씩 읽는다
    if not one_person: break #읽을 내용이 없으면 루프탈출
    one_person=one_person.replace("\n","") #줄 바꿈문자 없애기
    item=one_person.split(",") #콤마 구분자로 짜르기
    print("="*15)
    print("이름: ", item[0])
    print("국어: ", item[1])
    print("영어: ", item[2])
    print("수학: ", item[3])
    print("="*15)
f.close()

===============
이름:  홍길동0
국어:  25
영어:  21
수학:  55
===============
===============
이름:  홍길동1
국어:  7
영어:  62
수학:  87
===============
===============
이름:  홍길동2
국어:  65
영어:  55
수학:  69
===============
===============
이름:  홍길동3
국어:  61
영어:  78
수학:  5
===============
===============
이름:  홍길동4
국어:  86
영어:  55
수학:  6
===============
===============
이름:  홍길동5
국어:  32
영어:  70
수학:  93
===============
===============
이름:  홍길동6
국어:  10
영어:  15
수학:  36
===============
===============
이름:  홍길동7
국어:  97
영어:  38
수학:  85
===============
===============
이름:  홍길동8
국어:  24
영어:  64
수학:  93
===============
===============
이름:  홍길동9
국어:  23
영어:  52
수학:  16
===============
===============
이름:  홍길동10
국어:  0
영어:  9
수학:  14
===============
===============
이름:  홍길동11
국어:  50
영어:  11
수학:  7
===============
===============
이름:  홍길동12
국어:  38
영어:  55
수학:  10
===============
===============
이름:  홍길동13
국어:  21
영어:  47
수학:  57
===============
===============
이름:  홍길동14
국어:  54
영어:  65
수학:  33
===============
===============
이름:  홍길동15
국어:  86
영어:  97
수학:  91
===============
===============
이름:  홍길동16
국어:  23
영어:  77
수학:  74
===============
===============
이름:  홍길동17
국어:  32
영어:  58
수학:  65
===============
===============
이름:  홍길동18
국어:  94
영어:  0
수학:  60
===============
===============
이름:  홍길동19
국어:  52
영어:  34
수학:  47
===============
===============
이름:  홍길동20
국어:  60
영어:  46
수학:  21
===============
===============
이름:  홍길동21
국어:  79
영어:  29
수학:  61
===============
===============
이름:  홍길동22
국어:  58
영어:  1
수학:  73
===============
===============
이름:  홍길동23
국어:  72
영어:  2
수학:  16
===============
===============
이름:  홍길동24
국어:  77
영어:  12
수학:  5
===============
===============
이름:  홍길동25
국어:  58
영어:  34
수학:  11
===============
===============
이름:  홍길동26
국어:  9
영어:  72
수학:  26
===============
===============
이름:  홍길동27
국어:  2
영어:  73
수학:  62
===============
===============
이름:  홍길동28
국어:  88
영어:  11
수학:  91
===============
===============
이름:  홍길동29
국어:  67
영어:  3
수학:  71
===============
===============
이름:  홍길동30
국어:  49
영어:  60
수학:  26
===============
===============
이름:  홍길동31
국어:  86
영어:  42
수학:  44
===============
===============
이름:  홍길동32
국어:  47
영어:  63
수학:  36
===============
===============
이름:  홍길동33
국어:  38
영어:  61
수학:  55
===============
===============
이름:  홍길동34
국어:  23
영어:  46
수학:  9
===============
===============
이름:  홍길동35
국어:  78
영어:  79
수학:  12
===============
===============
이름:  홍길동36
국어:  2
영어:  37
수학:  76
===============
===============
이름:  홍길동37
국어:  76
영어:  56
수학:  67
===============
===============
이름:  홍길동38
국어:  66
영어:  97
수학:  66
===============
===============
이름:  홍길동39
국어:  9
영어:  99
수학:  59
===============
===============
이름:  홍길동40
국어:  93
영어:  87
수학:  39
===============
===============
이름:  홍길동41
국어:  43
영어:  47
수학:  15
===============
===============
이름:  홍길동42
국어:  43
영어:  86
수학:  18
===============
===============
이름:  홍길동43
국어:  24
영어:  33
수학:  2
===============
===============
이름:  홍길동44
국어:  55
영어:  88
수학:  71
===============
===============
이름:  홍길동45
국어:  25
영어:  77
수학:  39
===============
===============
이름:  홍길동46
국어:  19
영어:  5
수학:  21
===============
===============
이름:  홍길동47
국어:  30
영어:  49
수학:  20
===============
===============
이름:  홍길동48
국어:  13
영어:  89
수학:  25
===============
===============
이름:  홍길동49
국어:  87
영어:  57
수학:  99
===============
===============
이름:  홍길동50
국어:  99
영어:  51
수학:  63
===============
===============
이름:  홍길동51
국어:  11
영어:  24
수학:  49
===============
===============
이름:  홍길동52
국어:  56
영어:  19
수학:  79
===============
===============
이름:  홍길동53
국어:  19
영어:  40
수학:  62
===============
===============
이름:  홍길동54
국어:  59
영어:  49
수학:  55
===============
===============
이름:  홍길동55
국어:  84
영어:  34
수학:  31
===============
===============
이름:  홍길동56
국어:  40
영어:  5
수학:  35
===============
===============
이름:  홍길동57
국어:  88
영어:  79
수학:  75
===============
===============
이름:  홍길동58
국어:  32
영어:  47
수학:  71
===============
===============
이름:  홍길동59
국어:  22
영어:  42
수학:  62
===============
===============
이름:  홍길동60
국어:  30
영어:  21
수학:  12
===============
===============
이름:  홍길동61
국어:  9
영어:  78
수학:  76
===============
===============
이름:  홍길동62
국어:  29
영어:  45
수학:  77
===============
===============
이름:  홍길동63
국어:  11
영어:  76
수학:  56
===============
===============
이름:  홍길동64
국어:  86
영어:  96
수학:  65
===============
===============
이름:  홍길동65
국어:  57
영어:  55
수학:  77
===============
===============
이름:  홍길동66
국어:  74
영어:  47
수학:  20
===============
===============
이름:  홍길동67
국어:  75
영어:  1
수학:  18
===============
===============
이름:  홍길동68
국어:  9
영어:  69
수학:  99
===============
===============
이름:  홍길동69
국어:  0
영어:  33
수학:  27
===============
===============
이름:  홍길동70
국어:  59
영어:  23
수학:  87
===============
===============
이름:  홍길동71
국어:  3
영어:  45
수학:  29
===============
===============
이름:  홍길동72
국어:  71
영어:  6
수학:  5
===============
===============
이름:  홍길동73
국어:  61
영어:  15
수학:  24
===============
===============
이름:  홍길동74
국어:  10
영어:  62
수학:  11
===============
===============
이름:  홍길동75
국어:  8
영어:  60
수학:  23
===============
===============
이름:  홍길동76
국어:  66
영어:  4
수학:  30
===============
===============
이름:  홍길동77
국어:  11
영어:  83
수학:  37
===============
===============
이름:  홍길동78
국어:  14
영어:  4
수학:  7
===============
===============
이름:  홍길동79
국어:  30
영어:  49
수학:  17
===============
===============
이름:  홍길동80
국어:  1
영어:  85
수학:  37
===============
===============
이름:  홍길동81
국어:  55
영어:  26
수학:  6
===============
===============
이름:  홍길동82
국어:  32
영어:  83
수학:  51
===============
===============
이름:  홍길동83
국어:  50
영어:  82
수학:  18
===============
===============
이름:  홍길동84
국어:  52
영어:  22
수학:  71
===============
===============
이름:  홍길동85
국어:  55
영어:  67
수학:  48
===============
===============
이름:  홍길동86
국어:  48
영어:  84
수학:  9
===============
===============
이름:  홍길동87
국어:  1
영어:  61
수학:  15
===============
===============
이름:  홍길동88
국어:  30
영어:  83
수학:  1
===============
===============
이름:  홍길동89
국어:  5
영어:  37
수학:  13
===============
===============
이름:  홍길동90
국어:  64
영어:  14
수학:  69
===============
===============
이름:  홍길동91
국어:  83
영어:  66
수학:  16
===============
===============
이름:  홍길동92
국어:  82
영어:  10
수학:  87
===============
===============
이름:  홍길동93
국어:  4
영어:  58
수학:  41
===============
===============
이름:  홍길동94
국어:  87
영어:  15
수학:  92
===============
===============
이름:  홍길동95
국어:  75
영어:  94
수학:  33
===============
===============
이름:  홍길동96
국어:  65
영어:  90
수학:  11
===============
===============
이름:  홍길동97
국어:  64
영어:  87
수학:  86
===============
===============
이름:  홍길동98
국어:  85
영어:  78
수학:  26
===============
===============
이름:  홍길동99
국어:  6
영어:  12
수학:  59
===============

In [9]:
import sqlite3 as s
con = s.connect("mydata.db")
cursor = con.cursor()

cursor.execute("drop table examtable;") #table 삭제
con.commit()

#table 생성
cursor.execute("create table examtable(name varchar(20),studentid int not null primary key,kor int,eng int,mat int)")

con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close()
con.close()

In [10]:
import sqlite3 as s # sqlite3를 s로 호출
con = s.connect("mydata.db") # mydata에 연결
cursor = con.cursor() # con의 cursor 함수를 cursor 함수에 저장

# 테이블내 레코드 삽입
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"나연\", 20990001, 95, 100, 95);") 
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"정연\", 20990002, 90, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"모모\", 20990003, 95, 95, 75);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"사나\", 20990004, 85, 90, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"지효\", 20990005, 100, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"미나\", 20990006, 90, 80, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"다현\", 20990007, 75, 90, 100);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"채영\", 20990008, 95, 70, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"쯔위\", 20990009, 85, 90, 90);")

con.commit() # 버퍼에 처리된 내용을 기록 
cursor.close() # 커서 종료
con.close() # 커넥트 종료

In [12]:
import sqlite3 as s # sqlite3를 s로 호출
con = s.connect("mydata.db") # mydata에 연결
cursor = con.cursor() # con의 cursor 함수를 cursor 함수에 저장

cursor.execute("select * from examtable") # 테이블 데이터 보기
one_rec = cursor.fetchall() #해당 데이터를 전부 가져옴
for field in one_rec: #해당 데이터를 반복문을 통해 하나씩 처리
    kor = field[2] # 국어점수
    eng = field[3] # 영어점수
    mat = field[4] # 수학점수
    print("이름:%s 학번:%s 국어:%3d 영어:%3d 수학:%3d 총점:%3d 평균:%3d"%(field[0],field[1],kor,eng,mat,kor+eng+mat,int((kor+eng+mat)/3)))

cursor.close() # 커서 종료
con.close() # 커넥트 종료

이름:나연 학번:20990001 국어: 95 영어:100 수학: 95 총점:290 평균: 96
이름:정연 학번:20990002 국어: 90 영어: 90 수학: 85 총점:265 평균: 88
이름:모모 학번:20990003 국어: 95 영어: 95 수학: 75 총점:265 평균: 88
이름:사나 학번:20990004 국어: 85 영어: 90 수학: 90 총점:265 평균: 88
이름:지효 학번:20990005 국어:100 영어: 90 수학: 85 총점:275 평균: 91
이름:미나 학번:20990006 국어: 90 영어: 80 수학: 90 총점:260 평균: 86
이름:다현 학번:20990007 국어: 75 영어: 90 수학:100 총점:265 평균: 88
이름:채영 학번:20990008 국어: 95 영어: 70 수학: 90 총점:255 평균: 85
이름:쯔위 학번:20990009 국어: 85 영어: 90 수학: 90 총점:265 평균: 88