In [1]:
# 단순 대입 연산자1
# 단순 대입 연산자란 변수의 값을 집어넣는 형태이다
# 변수 = 값, 변수 = 수식의 형태로 사용
# 수식 = 변수는 불가능
a = 3
b = 4
c = 123 + 456 *6
a, b, c

(3, 4, 2859)

In [2]:
a + b = c # 수식 = 변수는 불가능 -> 오류 발생

SyntaxError: cannot assign to operator (1437919179.py, line 1)

In [3]:
123 + 456 = a # 수식 = 변수는 불가능 -> 오류 발생

SyntaxError: cannot assign to operator (3162896274.py, line 1)

In [4]:
# 단순 대입 연산자2
# 변수의 값을 집어넣는 수낙ㄴ 변수의 자료형이 결정됨
# 자료형이 결정된 이후 자료형 형태로 사용해야 함
# 다시 다른 자료형을 대입 시 자료형이 변경됨
a = 1
a = a + "안녕" # a는 수치형인데 문자형을 더한다..? 안됨

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
a = "abc" #  a에 다시 문자를 대입하는 순간 a는 문자형이 됨
a = a + "안녕" # 기존 abc에 안녕을 붙임
a # -> abc안녕

'abc안녕'

In [6]:
# 복합형태 대입 연산자1
# a,b=b,a 로a,b변수의값을서로바꿀수있음
a = 1
b = 2
a, b  # -> 1,2

(1, 2)

In [7]:
a, b = b, a # a, b 값은 b, a로 변경
a, b # -> 2,1

(2, 1)

In [8]:
# 복합형태 대입 연산자2
# 여러 변수의 값을 한번에 대입할 수 있음
a, b, c, d, e, f = 1, 2, "안녕", "하세요", 3, 4
a, b, c, d, e, f

(1, 2, '안녕', '하세요', 3, 4)

In [9]:
# 복합형태 대입 연산자3
# 단순 변수는 값을 대입하는 형태로 이해 가능하나, 컬렉션의 경우 같은 변수를
#   공유하는 것으로 이해해야 함
a = b = 1 # a,b 값을 공유
a, b

(1, 1)

In [10]:
b = 2 # b 값을 2로 변경
a, b

(1, 2)

In [11]:
a = b = [1, 2, 3] # a,b 값을 공유 
a, b

([1, 2, 3], [1, 2, 3])

In [12]:
a[1] = 4
a, b

([1, 4, 3], [1, 4, 3])

In [13]:
# 복합형태 대입 연산자4
# 심화 학습1
# 컬렉션에서 값을 복사하는 경우
a = [1, 2, 3, 4, 5]
b = a[:] # b는 a를 복사한 값
a, b

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [14]:
a[2] = 5 # a[2] 값이 3에서 5로 바뀜
a, b

([1, 2, 5, 4, 5], [1, 2, 3, 4, 5])

In [1]:
# 복합형태 대입 연산자5
# 심화 학습2
# 파이썬에서 실제 변수에 값을 집어 넣는 경우 
#   -> 값이라는 오브젝트(object)를 어디에 정의해 놓고 참고해서 사용하는 방식
import sys
a = 123 # a는 123이라고 정의
sys.getrefcount(123) # 123을 어느 공간에 만들어 놓고 참조하는 방식

31

In [2]:
b = 123; sys.getrefcount(123)

32

In [3]:
c = 123; sys.getrefcount(123)

33

In [27]:
# 일반 산술 연산자1
# 사칙연산 순으로 계산
1 + 2 * 3 / 4

2.5

In [28]:
2 ** 3

8

In [29]:
10 / 3

3.3333333333333335

In [30]:
1e12 * 123456789012

1.23456789012e+23

In [31]:
a = 1 * 2j
a + (123+12j)

(123+14j)

In [ ]:
# 일반 산술 연산자2
# 정수형 연산자 : //(정수형 나눗셈), %(나머지)

In [32]:
# 일반 산술 연산자3
# 실수형 계산이 기본이나 정수형 연산자를 사용하면 정수형 연산임
5 / 2

2.5

In [33]:
5 // 2

2

In [34]:
5 % 2

1

In [38]:
# 복합 연산자1
a = 1; a = a + 1; print(a) # -> 2
a = 1; a += 1; print(a) # 누적은 a += a로 표시 -> 2

2
2

In [39]:
a *= 2; a # -> 2*2 = 4 # 누곱은 a *= a로 표시 -> 2

4

In [40]:
a *= 2; a # -> 4*2 = 8

8

In [41]:
a = 1; a -= 1; a # -> 1-1 = 0

0

In [42]:
a -= 1; a # 1-1 = 0

-1

In [43]:
# 복합 연산자2
# 파이썬에서는 ++나 --를 사용할 수 없음
a = 1
a++ # 당연 오류

SyntaxError: invalid syntax (3857774950.py, line 2)

In [44]:
a-- # 파이썬에서는 ++나 --를 사용할 수 없음

SyntaxError: invalid syntax (1562500846.py, line 1)

In [50]:
a =+ 1; a # ++ 대신에 =+를 사용

1

In [48]:
a=- 1; a # -- 대신에 =-를 사용

-1

In [51]:
# 문자형 변환
# 변수의 형태가 다르면 서로 연산처리를 할 수 없음
#   이때는 변수의 형 변환처리를 해야 함
# 문자형 변수의 덧셈은 문자열을 붙이는 것으로 처리됨
a = "멍멍이"
b = "고양이"
a + b # a와 b를 붙여서 출력

'멍멍이고양이'

In [52]:
a * 3 + b * 2 # a를 세번 b를 2번 출력

'멍멍이멍멍이멍멍이고양이고양이'

In [53]:
"-" * 20 # -를 20번 출력

'--------------------'

In [54]:
# 문자형 변환2
# 문자형과 숫자형의 덧셈은 에러남
# 숫자형을 문자형으로 변환해서 사용해야함 ->  str() 사용
a = 1
b = "강아지" + a + "마리"

TypeError: can only concatenate str (not "int") to str

In [55]:
b = "강이지" + str(a) + "마리" # 숫자형인 a를 문자형으로 바꿈
b

'강이지1마리'

In [56]:
# 문자형 변환3
# 문자형을 다루는 ord() 함수는 문자의 내부코드 값을 반환
# chr함수는 내부코드 값을 가지고 해당 글자를 반환
ord("가")

44032

In [57]:
hex(ord("a"))

'0x61'

In [58]:
for c in range (ord('a'), ord('z') + 1) :
    print(hex(c), "=", chr(c), ", ", end = "")

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [59]:
# 숫자형 변환1
# int()
# 문자형을 숫자형으로 바꾸는 경우 int() 사용
a = "123"; a + 1  # 현재 a는 문자형이므로 문자형에 1을 더한다? -> 오류남

TypeError: can only concatenate str (not "int") to str

In [60]:
a = "123"; int(a) + 1 # 문자형인 a를 숫자형으로 바꾼 뒤 1을 더하면?! 정상

124

In [61]:
a = 12.3; int(a) # 동일한 이름으로 실수형을 정수형으로 바꾸는 경우도 int() 사용

12

In [62]:
# 숫자형 변환2
# float()
# 문자형을 실수형으로 바꾸는 경우 -> float() 사용
a = "12.3"; int(a) # 실수형 값을 가진 문자형을 정수형으로 바꾸면?! -> 에러남

ValueError: invalid literal for int() with base 10: '12.3'

In [63]:
float(a) # int(a)가 아니라 float(a)로 해야함

12.3

In [64]:
a = 1.1; 1 + a + 12 # 연산시 하나라도 실수형을 만나면 실수형의 연산을 해야함

14.1

In [66]:
1 + int(a) + 12  # 실수형을 정수형으로 형 반환시 소수점 이하 자릿수는 버림

14

In [77]:
# 숫자형 변환3
int(3.14) # int() 함수는 소수점 이하의 숫자를 버림

3

In [78]:
# 반올림 함수는 round()를 사용
round(3.14)

3

In [79]:
round(3.14, 1) # 소수점 첫번째 자리에서 반올림

3.1

In [80]:
round(123456, -4) # 만(4번째)의 자리에서 반올림

120000

In [4]:
# 숫자형 변환4
a = 1234567
if (a % 1000 != 0) : # 1000으로 나누어 나머지가 0이 아니라면
    a = int(a / 1000) * 1000 + 1000 # 버린 값에다 한 자리를 올림
else : # 나머지가 0이라면
    a = int(a / 1000) * 1000 
a

1235000