In [1]:
# 리스트 정의1
# 리스트를 지정하면 첨자0부터 ~ (n- 1)까지의 변수로 지정
a = [1, 2, 3, 4, 5]
a[0], a[1], a[2], a[3], a[4]

(1, 2, 3, 4, 5)

In [2]:
# 리스트 내부에서는 서로 다른 형태의 자료형도 저장이 가능함
a = [11, "abc", 12.3333, "안녕", 2 + 3j]
a[0], a[1], a[2], a[3], a[4]

(11, 'abc', 12.3333, '안녕', (2+3j))

In [3]:
# 리스트 정의2
# 값의(형태)변경도가능
a[1] = 1234; a[4] = "홍길동"
a

[11, 1234, 12.3333, '안녕', '홍길동']

In [5]:
# 리스트 정의3
# for 반복문
score = [90, 80, 70, 60, 30]
sum = 0 # sum의0 으로 초기화
for s in score: # score 크기만큼 실해되는 반복문
    print("점수(", s, ")") # s출력
    sum += s # sum 은 s를 누적더한 값
print("총점:", sum); # 총점 출력

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [6]:
# 리스트 표현방식1
# 일반적으로 리스트를 지정하면 첨자0부터~ (n- 1)까지의 변수로 지정
# 하지만 역방향으로 – n ~ - 1로 지정도 가능
a = [1, 2, 3, 4, 5]
a[0], a[-5]

(5, 5)

In [7]:
a[1],a[-4]

(2, 2)

In [8]:
a[2],a[-3]

(3, 3)

In [9]:
a[3],a[-2]

(4, 4)

In [10]:
a[4],a[-1]

(5, 5)

In [11]:
# 리스트 표현방식2
# 리스트의 첨자는 [begin:end:step]으로 표현가능
[begin:end:step]

SyntaxError: invalid syntax (3139380504.py, line 1)

In [16]:
# 리스트 표현방식2
a = [1, 2, 3, 4, 5, 6, 7, 8, 9,  10]
a[2:8] # 2부터 8보다 작을 때까지(2,3,4,5,6,7)

[3, 4, 5, 6, 7, 8]

In [19]:
a[:4] #처음부터 4보다 작을 때까지(0,1,2,3 주의 a[4]제외)

[1, 2, 3, 4]

In [17]:
a[5:] #5부터 끝까지

[6, 7, 8, 9, 10]

In [18]:
a[0:6:3] #0부터 6보다 작을때 까지(6은 제외 0,3) 3씩 증가하여

[1, 4]

In [20]:
# 다중 리스트1
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] # 리스트로 구성된 리스트
a[2]

[7, 8, 9]

In [21]:
a[2][2]

9

In [22]:
a[1][3] # 첨자(index)의 범위를 벗어남

IndexError: list index out of range

In [23]:
a[1][2]

6

In [24]:
a = [[1, 2], [3, 4, 5], 6] # 가변 형태의 리스트
a

[[1, 2], [3, 4, 5], 6]

In [25]:
a[2]

6

In [26]:
a[1]

[3, 4, 5]

In [27]:
# 리스트 컴프리헨션 1
# 리스트 중 조건을 비교하거나 범위를 주어 선택 사용이 가능한 방법
# 예제1
# 1부터 10으로 리스트를 구성하여 그 요소 하나하나에 3을 곱한 것을 구함
a = [ n * 3 for n in range (1, 10)] 
a

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [28]:
# 리스트 컴프리헨션 2
# 예제2
# 1부터 10중 2로 나누어 나머지가 0인(짝수인) 숫자로 리스트를 구성하여 그 요소 
#    하나하나에 3을 곱한 것을 구함
a = [ n * 3 for n in range (1,10) if n % 2 == 0 ] 
a

[6, 12, 18, 24]

In [4]:
# 리스트 연습
def titleprint(): # titleprint 함수 생성
    pass # 내용은 비워둠
def itemprint(name, kortotal, engtotal, mathtotal): # itemprint 함수 생성
    pass # 내용은 비워둠
def tailprint(): # tailprint 함수 생성
    pass # 내용은 비워둠

#데이터 2차원 리스트
score = [["나연", 100, 90, 100],
        ["정연", 90, 90, 100],
        ["모모", 80, 70, 90],
        ["사나", 90, 90, 80],
        ["지효", 100, 80, 80],
        ["미나", 50, 90, 90],
        ["다현", 80, 60, 100],
        ["채영", 70, 80, 90],
        ["쯔위", 100, 90, 90]]

#프로그램을 보기 좋게 하려고 상수를 정의
name = 0; kor = 1; eng = 2; mat = 3

def titleprint(): # 위에서 만든 titleprint함수의 내용을 채움
    print("=" * 50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("=" * 50)
              
def itemprint(name, kor, eng, mat): # 위에서 만든 itemprint 함수의 내용을 채움
    print(name, "\t", kor, "\t", eng, "\t", mat, "\t", kor + eng + mat, "\t", (kor + eng + mat) // 3)

def tailprint(): # 위에서 만든 tailprint함수의 내용을 채움
    totkor = 0 # 국어 합계 점수를 0으로 초기화
    toteng = 0 # 영어 합계 점수를 0으로 초기화
    totmat = 0 # 수학 합계 점수를 0으로 초기화
    for one_student in score:
        totkor += one_student[kor] # 국어 합계 점수에 국어 점수를 더한다
        toteng += one_student[eng] # 영어 합계 점수에 국어 점수를 더한다
        totmat += one_student[mat] # 수학 합계 점수에 국어 점수를 더한다
    print("=" * 50)
    print("반총점\t", totkor, "\t", toteng, "\t", totmat, "\t", (totkor + toteng + totmat) // 9, "\t", (totkor + toteng + totmat) / 3 // 9)
    print("=" * 50)
    
#여기부터 프로그램
titleprint()
for one_student in score:
    itemprint(one_student[name], one_student[kor], one_student[eng], one_student[mat])
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 257 	 85.0
==================================================

In [35]:
# 리스트 삽입, 삭제1
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [36]:
del a[2] # 2번 리스트요소 삭제
a

[1, 2, 4, 5]

In [37]:
a.clear() # 리스트 전부 지움
a # 빈 리스트는 남아있음

[]

In [38]:
del a # a공간도 지움
a

NameError: name 'a' is not defined

In [40]:
# 리스트 삽입, 삭제2
a = []  # 빈 리스트를 정의
a.append(1) # 1 값의 리스트 요소를 추가
a.append(3) # 3 값의 리스트 요소를 추가
a.append(5) # 5 값의 리스트 요소를 추가
a

[1, 3, 5]

In [41]:
a = [4, 5, 6] #기존 a를 무시하고 다시 정의
a.append(10)  # 10 값의 리스트 요소를 추가
a

[4, 5, 6, 10]

In [42]:
# 리스트 삽입, 삭제3
# 한개의 요소를 삽입시 insert를 사용하고 list.insert(삽입위치, 삽입내용)으로 사용
a = [1, 2, 3, 4, 5]
a.append(6)  # append는 맨 뒤에 하나의 요소를 삽입
a

[1, 2, 3, 4, 5, 6]

In [43]:
a.insert(3, 12) # 3번 자리에 12 추가
a

[1, 2, 3, 12, 4, 5, 6]

In [44]:
a.insert(4, 15) # 4번 자리에 15 추가
a

[1, 2, 3, 12, 15, 4, 5, 6]

In [45]:
a.insert(3, 1) # 3번 자리에 1 추가
a

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [46]:
# 리스트 삽입, 삭제4
# 여러개의 요소를 삽입시 list[n:n]= 방식으로 사용 (n은삽입위치)
a = [1, 2, 3, 1, 12, 15, 4, 5, 6] 
a[5:5] = [1, 2, 3, 4, 5, 6]  # 5에서 5까지 영역에 해당 리스트 값을 대입
a

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [47]:
# 리스트 삽입, 삭제5
# list[n]= 을 사용하면 해당n요소의 리스트가 대입된 경우임에 주의할 것
a = [1, 2, 3, 1, 12, 15, 4, 5, 6]
a[5] = [1, 2, 3, 4, 5, 6]
a

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [48]:
# 리스트 삽입, 삭제6
# 두 개의 리스트를 변합하는 방법
# list.extend를 사용
# 연산을 이용
a = [1, 2, 3]
b = [4, 5, 6]
a = a + b
a

[1, 2, 3, 4, 5, 6]

In [49]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [51]:
# 리스트 삽입, 삭제7
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [52]:
a.remove(7) # 첫 번째 만나는 7값을 가진 리스트 삭제
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [53]:
a.remove(7) # 첫 번째 만나는 7값을 가진 리스트 삭제
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]

In [54]:
a[5] = [] # 다섯 번째에 빈 값[]이 들어 있는 리스트를 만듬(주의: a[5:5]=[]라고 해야 함)
a

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [55]:
a[2:4] = []
a

[1, 2, 4, [], 5, 6, 7, 7, 8]

In [56]:
# 리스트 삽입, 삭제8
del(a[4]) # a의 4번 삭제
a

[1, 2, 4, [], 6, 7, 7, 8]

In [57]:
del(a[3]) # a의 3번 삭제
a

[1, 2, 4, 6, 7, 7, 8]

In [58]:
a.clear() #다 지우나 빈 값에 리스트가 남음
a

[]

In [60]:
del(a) #리스트 정의까지 삭제
a

NameError: name 'a' is not defined

In [21]:
# 리스트 삽입, 삭제9
# list.pop(n)은 해당 위치를 리턴하고 삭제함 n이 없다면 맨 마지막 요소 리턴
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]
a.pop() # 마지막 요소 리턴

8

In [22]:
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]

In [23]:
a.pop() # 마지막 요소 리턴

7

In [24]:
a.pop(3) # 3번 리턴하고 삭제

3

In [25]:
a

[1, 2, 3, 4, 4, 5, 6, 7, 7, 7]

In [26]:
a.pop(6) # 6번 리턴하고 삭제

6

In [27]:
a

[1, 2, 3, 4, 4, 5, 7, 7, 7]

In [28]:
a.pop(6) # 6번 리턴하고 삭제

7

In [29]:
a.pop(0) # 0번 리턴하고 삭제

1

In [30]:
a

[2, 3, 4, 4, 5, 7, 7]

In [65]:
# 리스트 검색1
# list.index(값) : 해당 값이 처음 나오는 위치를 리턴
# list.count(값) : 해당 값이 몇번 나오는지 리턴
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]
a.index(7)  # 값 7의 위치는 8

8

In [66]:
a.index(8) # 값 8의 위치는 12

12

In [67]:
a.index(4) # 값 4의 위치는 4

4

In [68]:
a.count(7) # 7은 4번 나옴

8

In [72]:
# 리스트 검색2
# min(list),max(list) : 리스트 중 최소값과 최대값을 구함
# len(list) 리스트의 크기(개수)를 구함
a = [1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]
min(a) # a의 최소값

1

In [73]:
 max(a) # a의 최대값

8

In [74]:
len(a) # a의 크기

13

In [75]:
# 리스트 정렬
# list.sort() : 리스트 내용을 정렬함
# list.reverse() : 리스트 내용을 역으로 보여줌
a = [1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4]
a.reverse() # 리스트 내용을 역으로 보여줌
a

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [76]:
a.sort() # 리스트 내용을 정렬함
a

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [33]:
#심화학습
def titleprint(): # titleprint 함수 생성
    pass # 내용은 비워둠
def itemprint(name, kortotal, engtotal, mathtotal): # itemprint 함수 생성
    pass # 내용은 비워둠
def tailprint(): # tailprint 함수 생성
    pass # 내용은 비워둠

#데이터 2차원 리스트
one_person = []
score = []
for i in range(100):
    one_person.append("name"+str(i)) # 이름
    one_person.append(r.randrange(10,100)) # 국어 10부터 100까지 임의에 값을 추출
    one_person.append(r.randrange(10,100)) # 영어 10부터 100까지 임의에 값을 추출
    one_person.append(r.randrange(10,100)) # 수학 10부터 100까지 임의에 값을 추출
    score.append(one_person[:]) # 값을 복사해서 추가함에 주의할 것
    one_person.clear()

# 프로그램을 보기 좋게 하려고 상수를 정의
name = 0; kor = 1; eng = 2; mat = 3

def titleprint(): # 위에서 만든 titleprint함수의 내용을 채움
    print("=" * 50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("=" * 50)
              
def itemprint(name, kor, eng, mat): # 위에서 만든 itemprint함수의 내용을 채움
    print(name, "\t", kor, "\t", eng, "\t", mat, "\t", kor + eng + mat, "\t", (kor + eng + mat) // 3)

def tailprint(): # 위에서 만든 tailprint함수의 내용을 채움
    totkor = 0 # 국어 합계 점수를 0으로 초기화
    toteng = 0 # 영어 합계 점수를 0으로 초기화
    totmat = 0 # 수학 합계 점수를 0으로 초기화
    for one_student in score:
        totkor += one_student[kor] # 국어 합계 점수에 국어 점수를 더한다
        toteng += one_student[eng] # 영어 합계 점수에 국어 점수를 더한다
        totmat += one_student[mat] # 수학 합계 점수에 국어 점수를 더한다
    print("=" * 50)
    print("반총점\t", totkor, "\t", toteng, "\t", totmat, "\t", 
          (totkor + toteng + totmat) // 9, "\t", (totkor + toteng + totmat) / 3 // 9)
    print("=" * 50)
    
#여기부터 프로그램
titleprint()
for one_student in score:
    itemprint(one_student[name], one_student[kor], one_student[eng], one_student[mat])
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
name0 	 13 	 12 	 69 	 94 	 31
name1 	 79 	 31 	 40 	 150 	 50
name2 	 47 	 19 	 97 	 163 	 54
name3 	 56 	 80 	 56 	 192 	 64
name4 	 68 	 55 	 40 	 163 	 54
name5 	 68 	 52 	 57 	 177 	 59
name6 	 70 	 37 	 91 	 198 	 66
name7 	 87 	 74 	 51 	 212 	 70
name8 	 26 	 57 	 34 	 117 	 39
name9 	 52 	 23 	 15 	 90 	 30
name10 	 31 	 59 	 29 	 119 	 39
name11 	 52 	 67 	 24 	 143 	 47
name12 	 96 	 55 	 33 	 184 	 61
name13 	 37 	 70 	 68 	 175 	 58
name14 	 22 	 33 	 77 	 132 	 44
name15 	 67 	 56 	 39 	 162 	 54
name16 	 70 	 64 	 59 	 193 	 64
name17 	 77 	 17 	 85 	 179 	 59
name18 	 72 	 76 	 10 	 158 	 52
name19 	 41 	 46 	 21 	 108 	 36
name20 	 86 	 74 	 39 	 199 	 66
name21 	 93 	 42 	 80 	 215 	 71
name22 	 22 	 75 	 32 	 129 	 43
name23 	 59 	 73 	 26 	 158 	 52
name24 	 54 	 23 	 50 	 127 	 42
name25 	 47 	 42 	 72 	 161 	 53
name26 	 97 	 22 	 90 	 209 	 69
name27 	 87 	 69 	 48 	 204 	 68
name28 	 76 	 63 	 43 	 182 	 60
name29 	 62 	 29 	 63 	 154 	 51
name30 	 96 	 57 	 80 	 233 	 77
name31 	 28 	 53 	 10 	 91 	 30
name32 	 36 	 18 	 25 	 79 	 26
name33 	 48 	 55 	 59 	 162 	 54
name34 	 46 	 76 	 36 	 158 	 52
name35 	 41 	 99 	 66 	 206 	 68
name36 	 30 	 23 	 37 	 90 	 30
name37 	 32 	 67 	 10 	 109 	 36
name38 	 19 	 31 	 17 	 67 	 22
name39 	 35 	 35 	 47 	 117 	 39
name40 	 40 	 40 	 16 	 96 	 32
name41 	 33 	 59 	 89 	 181 	 60
name42 	 86 	 80 	 12 	 178 	 59
name43 	 24 	 67 	 80 	 171 	 57
name44 	 83 	 72 	 69 	 224 	 74
name45 	 13 	 91 	 16 	 120 	 40
name46 	 33 	 37 	 57 	 127 	 42
name47 	 16 	 17 	 30 	 63 	 21
name48 	 22 	 43 	 62 	 127 	 42
name49 	 80 	 49 	 36 	 165 	 55
name50 	 94 	 57 	 64 	 215 	 71
name51 	 26 	 18 	 39 	 83 	 27
name52 	 11 	 78 	 76 	 165 	 55
name53 	 15 	 82 	 38 	 135 	 45
name54 	 83 	 72 	 68 	 223 	 74
name55 	 74 	 32 	 87 	 193 	 64
name56 	 24 	 26 	 33 	 83 	 27
name57 	 14 	 69 	 76 	 159 	 53
name58 	 93 	 48 	 41 	 182 	 60
name59 	 80 	 64 	 35 	 179 	 59
name60 	 62 	 11 	 65 	 138 	 46
name61 	 51 	 81 	 46 	 178 	 59
name62 	 88 	 85 	 89 	 262 	 87
name63 	 97 	 70 	 34 	 201 	 67
name64 	 78 	 14 	 14 	 106 	 35
name65 	 55 	 49 	 68 	 172 	 57
name66 	 58 	 18 	 58 	 134 	 44
name67 	 66 	 16 	 86 	 168 	 56
name68 	 46 	 70 	 79 	 195 	 65
name69 	 57 	 73 	 33 	 163 	 54
name70 	 30 	 37 	 50 	 117 	 39
name71 	 21 	 11 	 32 	 64 	 21
name72 	 32 	 95 	 67 	 194 	 64
name73 	 78 	 96 	 98 	 272 	 90
name74 	 72 	 90 	 90 	 252 	 84
name75 	 92 	 28 	 28 	 148 	 49
name76 	 67 	 83 	 74 	 224 	 74
name77 	 93 	 24 	 69 	 186 	 62
name78 	 99 	 43 	 78 	 220 	 73
name79 	 58 	 71 	 59 	 188 	 62
name80 	 12 	 94 	 27 	 133 	 44
name81 	 59 	 79 	 66 	 204 	 68
name82 	 92 	 10 	 27 	 129 	 43
name83 	 25 	 46 	 74 	 145 	 48
name84 	 37 	 93 	 37 	 167 	 55
name85 	 40 	 78 	 99 	 217 	 72
name86 	 50 	 88 	 45 	 183 	 61
name87 	 54 	 73 	 45 	 172 	 57
name88 	 89 	 97 	 81 	 267 	 89
name89 	 10 	 62 	 94 	 166 	 55
name90 	 91 	 74 	 31 	 196 	 65
name91 	 97 	 55 	 48 	 200 	 66
name92 	 10 	 36 	 30 	 76 	 25
name93 	 51 	 92 	 17 	 160 	 53
name94 	 35 	 29 	 59 	 123 	 41
name95 	 34 	 84 	 21 	 139 	 46
name96 	 98 	 20 	 97 	 215 	 71
name97 	 96 	 88 	 80 	 264 	 88
name98 	 30 	 60 	 73 	 163 	 54
name99 	 99 	 90 	 76 	 265 	 88
==================================================
반총점	 5578 	 5523 	 5293 	 1821 	 607.0
==================================================

In [78]:
# 튜플1
# 값 조회는 가능
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [79]:
a[5]

4

In [80]:
a[3:5]

(6, 2)

In [81]:
a[3:8]

(6, 2, 4, 5, 2)

In [82]:
a * 2

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [86]:
# 튜플2
# 값을 대입하거나 변경하거나 구조를 지우는 것은 불가능
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [87]:
a[1] = 5 # 값을 대입하거나 변경하거나 구조를 지우는 것은 불가능

TypeError: 'tuple' object does not support item assignment

In [88]:
del a[4] # 값을 대입하거나 변경하거나 구조를 지우는 것은 불가능

TypeError: 'tuple' object doesn't support item deletion

In [89]:
a.append(10) # 값을 대입하거나 변경하거나 구조를 지우는 것은 불가능

AttributeError: 'tuple' object has no attribute 'append'

In [90]:
# 튜플 (예시)
def location():
    latitude = 2, 17403 # 위도
    longitude=41,40338 #경도
    return latitude,longitude #이런방식의 리턴은 튜플로 반환
a=location()
print(a)

((2, 17403), (41, 40338))