In [1]:
# 리스트 정의
a = [1, 2, 3, 4, 5]
a[0], a[1], a[2], a[3], a[4]

(1, 2, 3, 4, 5)

In [2]:
a = [11, "abc", 12.3333, "안녕", 2 + 3j]
a[0], a[1], a[2], a[3], a[4]

(11, 'abc', 12.3333, '안녕', (2+3j))

In [3]:
a[1] = 1234; a[4] = "홍길동"
a

[11, 1234, 12.3333, '안녕', '홍길동']

In [5]:
score=[90,80,70,60,30]
sum=0
for s in score:
    print("점수(",s,")")
    sum+=s
print("총점:",sum);

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [6]:
# 리스트 표현방식
a=[1,2,3,4,5]
a[0],a[-5]

(5, 5)

In [7]:
a[1],a[-4]

(2, 2)

In [8]:
a[2],a[-3]

(3, 3)

In [9]:
a[3],a[-2]

(4, 4)

In [10]:
a[4],a[-1]

(5, 5)

In [11]:
[begin:end:step]

SyntaxError: invalid syntax (3139380504.py, line 1)

In [16]:
a=[1,2,3,4,5,6,7,8,9,10]
a[2:8] # 2부터 8보다 작을 때까지(2,3,4,5,6,7)

[3, 4, 5, 6, 7, 8]

In [19]:
a[:4] #처음부터 4보다 작을 때까지(0,1,2,3 주의 a[4]제외)

[1, 2, 3, 4]

In [17]:
a[5:] #5부터 끝까지

[6, 7, 8, 9, 10]

In [18]:
a[0:6:3] #0부터 6보다 작을때 까지(6은 제외 0,3) 3씩 증가하여

[1, 4]

In [20]:
# 다중 리스트 
a=[[1,2,3],[4,5,6],[7,8,9]] # 리스트로 구성된 리스트
a[2]

[7, 8, 9]

In [21]:
a[2][2]

9

In [22]:
a[1][3]

IndexError: list index out of range

In [23]:
a[1][2]

6

In [24]:
a=[[1,2],[3,4,5],6] # 가변 형태의 리스트
a

[[1, 2], [3, 4, 5], 6]

In [25]:
a[2]

6

In [26]:
a[1]

[3, 4, 5]

In [27]:
# 리스트 컴프리헨션 1
a=[ n * 3 for n in range (1,10)]
a

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [28]:
# 리스트 컴프리헨션 2
a=[ n * 3 for n in range (1,10) if n % 2 ==0 ]
a

[6, 12, 18, 24]

In [33]:
# 리스트 연습
def titleprint():
    pass

def itemprint(name,kortotal,engtotal,mathtotal):
    pass

def tailprint():
    pass

#데이터 2차원 리스트
score=[["나연",100,90,100],
        ["정연",90,90,100],
        ["모모",80,70,90],
        ["사나",90,90,80],
        ["지효",100,80,80],
        ["미나",50,90,90],
        ["다현",80,60,100],
        ["채영",70,80,90],
        ["쯔위",100,90,90]]

#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램
titleprint()
for one_student in score:
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint() 

def titleprint():
    pass

def itemprint(name,kortotal,engtotal,mathtotal):
    pass
    print("="*50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("="*50)
              
def itemprint(name,kor,eng,mat):
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint():
    totkor=0
    toteng=0
    totmat=0
    for one_student in score:
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50)
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat)//9,"\t",(totkor+toteng+totmat)/3//9)
    print("="*50)

In [35]:
# 리스트 관리 (삽입, 삭제)
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [36]:
del a[2] #2번 리스트요소 삭제
a

[1, 2, 4, 5]

In [37]:
a.clear() #리스트 전부 지움
a #빈 리스트는 남아있음

[]

In [38]:
del a #a공간도 지움
a

NameError: name 'a' is not defined

In [40]:
a = []
a.append(1)
a.append(3)
a.append(5)
a

[1, 3, 5]

In [41]:
a = [4, 5, 6]
a.append(10)
a

[4, 5, 6, 10]

In [42]:
# 리스트 삽입, 삭제
a = [1, 2, 3, 4, 5]
a.append(6) 
a

[1, 2, 3, 4, 5, 6]

In [43]:
a.insert(3, 12)
a

[1, 2, 3, 12, 4, 5, 6]

In [44]:
a.insert(4,15)
a

[1, 2, 3, 12, 15, 4, 5, 6]

In [45]:
a.insert(3, 1)
a

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [46]:
# 리스트 삽입, 삭제
a = [1, 2, 3, 1, 12, 15, 4, 5, 6]
a[5:5] = [1, 2, 3, 4, 5, 6]
a

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [47]:
# 리스트 삽입, 삭제
a = [1, 2, 3, 1, 12, 15, 4, 5, 6]
a[5] = [1, 2, 3, 4, 5, 6]
a

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [48]:
# 리스트 삽입, 삭제
a = [1, 2, 3]
b = [4, 5, 6]
a = a + b
a

[1, 2, 3, 4, 5, 6]

In [49]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [51]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [52]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [53]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]

In [54]:
a[5]=[] #다섯 번째에 빈 값[]이 들어 있는 리스트를 만듬(주의: a[5:5]=[]라고 해야 함)
a

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [55]:
a[2:4]=[]
a

[1, 2, 4, [], 5, 6, 7, 7, 8]

In [56]:
del(a[4])
a

[1, 2, 4, [], 6, 7, 7, 8]

In [57]:
del(a[3])
a

[1, 2, 4, 6, 7, 7, 8]

In [58]:
a.clear() #다 지우나 빈 값에 리스트가 남음
a

[]

In [60]:
del(a) #리스트 정의까지 삭제
a

NameError: name 'a' is not defined

In [61]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
a.pop()
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]

In [62]:
a.pop()
a.pop(3)
a

[1, 2, 3, 4, 4, 5, 6, 7, 7, 7]

In [63]:
a.pop(6)
a

[1, 2, 3, 4, 4, 5, 7, 7, 7]

In [64]:
a.pop(6)
a.pop(0)
a

[2, 3, 4, 4, 5, 7, 7]

In [65]:
# 리스트 검색 
a = [1,2,3,3,4,4,5,6,7,7,7,7,8]
a.index(7)

8

In [66]:
a.index(8)

12

In [67]:
a.index(4)

4

In [68]:
a.index(7)

8

In [72]:
a = [1,2,3,3,4,4,5,6,7,7,7,7,8]
min(a)

1

In [73]:
 max(a)

8

In [74]:
len(a)

13

In [75]:
a=[1,8,5,6,2,4,5,2,6,9,4]
a.reverse()
a

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [76]:
a.sort()
a

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [77]:
#심화학습
import random as r
def titleprint():
    pass

def itemprint(name,kor,eng,mat):
    pass

def tailprint():
    pass

one_person=[]
score=[]

for i in range(100):
    one_person.append("name"+str(i)) #이름
    one_person.append(r.randrange(10,100)) #국어 10부터 100까지 임의에 값을 추출
    one_person.append(r.randrange(10,100)) #영어
    one_person.append(r.randrange(10,100)) #수학
    score.append(one_person[:]) #값을 복사해서 추가함에 주의할 것
    one_person.clear()
    
#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램
titleprint()
for one_student in score:

SyntaxError: unexpected EOF while parsing (1043425762.py, line 28)

In [78]:
# 튜플
a=(1,8,5,6,2,4,5,2,6,9,4)
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [79]:
a[5]

4

In [80]:
a[3:5]

(6, 2)

In [81]:
a[3:8]

(6, 2, 4, 5, 2)

In [82]:
a*2

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [86]:
# 튜플
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [87]:
a[1] = 5

TypeError: 'tuple' object does not support item assignment

In [88]:
del a[4]

TypeError: 'tuple' object doesn't support item deletion

In [89]:
a.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [90]:
# 튜플 (예시)
def location():
    latitude = 2, 17403 # 위도
    longitude=41,40338 #경도
    return latitude,longitude #이런방식의 리턴은 튜플로 반환
a=location()
print(a)

((2, 17403), (41, 40338))